body {
  
  background:#1a1a1a;
  color:#fff;
  font-family: 'Bangers', cursive;
  overflow:hidden;
}

.bottom {

   font-size:100px;
  -webkit-clip-path: inset(58% 0 0 0);
  clip-path: inset(58% 0 0 0);
}

.top {
   -webkit-clip-path: inset(0 0 41% 0);
  clip-path: inset(0 0 41%);
}



.redShadow {  text-shadow:-3px 0 red;}
.greenShadow {  text-shadow:-3px 0 red;}

.glitch {position: absolute}

#txt {
  position:relative;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width:482px;
  height:100px;
  text-align: center;
  z-index:2;
  font-size:100px;
  color:#fff;
  text-transform:uppercase;
}
